<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aqui é changelog.</title>
    <link rel="stylesheet" href="{{ url_for('static', path='output.css') }}">
    {% include 'partials/imports.html' %}
</head>
<body id="body">
    {% include 'partials/navbar.html' %}
    <div id="container">
    {% include 'partials/changelog.html' %}
    </div>
    {% include 'partials/footer.html' %}
</body>
</html>