<!-- Home partial -->
<h1 class="title">Bem vindo ao site do Gorenmu.</h1>




<!-- <button class="button" hx-get="/changeLang?lang=pt_br" hx-trigger="click" hx-target="#body" hx-params="*">Português</button> -->
<!-- <button class="button" hx-get="/changeLang?lang=en" hx-trigger="click" hx-target="#body" hx-params="*">English</button> -->


<div class="flex-container">
    <div class="flex-child description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ornare mi. Vivamus ut tincidunt risus, sed lacinia urna. Mauris dapibus porttitor sem quis faucibus. Proin dignissim at massa non mollis. Vestibulum nisl lorem, rhoncus a ligula et, ultricies finibus mi. Quisque sit amet accumsan nibh. Vestibulum tellus odio, tempor at mi in, eleifend ultrices nisi. Quisque faucibus sed ex sed pulvinar. Donec mattis pulvinar ornare. Praesent laoreet erat in velit porta aliquet. Sed dapibus scelerisque imperdiet. Proin sit amet orci vestibulum, accumsan tellus ac, rhoncus nisl. Pellentesque posuere rhoncus purus et venenatis.

    Donec scelerisque imperdiet lacus, ut sodales dolor. In hac habitasse platea dictumst. In in tellus tincidunt, mollis justo eu, lobortis mauris. Morbi consectetur odio eu nibh pellentesque sollicitudin. Donec condimentum massa a neque tincidunt, et lacinia enim malesuada. Nam quis mi sed ante mollis consectetur. Etiam elit turpis, volutpat quis lectus eu, efficitur elementum erat. Morbi ut nisl sagittis, imperdiet metus a, efficitur augue. Ut scelerisque quis orci eget mollis. Ut quis massa tristique, porttitor mauris id, consectetur felis. Suspendisse dolor nisl, cursus a nibh eget, luctus sollicitudin nibh. Vivamus blandit, est vitae vulputate dictum, magna ligula porta tellus, sit amet condimentum tellus erat id nisl. Aenean ut scelerisque dolor.

    Suspendisse commodo congue augue id eleifend. Sed scelerisque, lacus vitae vulputate venenatis, dolor dui bibendum dolor, non tincidunt eros mauris in tellus. Duis molestie elit sit amet ornare feugiat. Vivamus tincidunt, neque vitae tempor consectetur, nisl augue placerat justo, nec vestibulum mauris nunc id tellus. Nulla porttitor, ante nec vehicula maximus, magna libero facilisis lectus, ac ullamcorper diam mauris lacinia purus. Duis aliquam non neque at sollicitudin. Phasellus porttitor, ante vitae efficitur tincidunt, erat diam lobortis nisi, aliquam maximus sapien velit at ex. Cras sed bibendum lectus, id iaculis justo. Donec vel nulla in odio sagittis lacinia. Nulla finibus ligula a velit maximus, quis efficitur mi finibus. Curabitur purus metus, vehicula sed fringilla id, pellentesque ac urna. Sed iaculis finibus velit nec lobortis. Cras a semper augue.

    Maecenas justo elit, egestas nec congue sit amet, tincidunt vel nunc. Nullam in tortor eu lorem tincidunt pharetra vel et eros. Vestibulum vel lectus ut nulla finibus pulvinar quis non felis. Nulla eleifend dolor ligula, nec finibus lacus fermentum sed. Integer et nisi vitae nisi auctor imperdiet. Praesent at tempor sem. Quisque vitae dignissim nisl, viverra gravida elit. Aenean ornare libero quis velit tristique, a venenatis risus faucibus. Cras auctor neque eget nibh tincidunt, a lacinia nulla imperdiet. Integer viverra sem turpis, eget euismod felis eleifend sit amet. Curabitur nulla orci, laoreet et eros a, eleifend posuere arcu.

    Mauris a orci in lorem porttitor finibus ac in urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sed tortor sagittis, placerat justo at, malesuada massa. In vitae dui mattis, mollis nisl eget, accumsan ligula. Phasellus ultrices arcu dui, a sagittis est egestas in. Vivamus non lectus ut orci fringilla viverra. Etiam arcu felis, luctus bibendum orci eget, venenatis rhoncus odio. 
    </div>
    
    <div class="flex-child chat">
      aqui provavelmente vai ser um chat fake para testar os comandos foda-se o chat da twitch.
    </div>
</div>
