<!-- Imports partial -->
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<meta http-equiv="Cache-Control" content="max-age=31536000">
<script src="https://unpkg.com/htmx.org@2.0.3"></script>
<!--<script>-->
<!--    const socket = new WebSocket("ws://localhost:8900/ws");-->
<!--    let reloadTimeout;-->
<!--    const uniqueId = generateUniqueId(); // Gera um ID único-->
<!--    -->
<!--    function generateUniqueId() {-->
<!--        return 'id-' + Math.random().toString(36).substr(2, 16); // Exemplo de geração de ID único-->
<!--    }-->
<!--    -->
<!--    let isOpen = false; // Flag para verificar se o WebSocket está aberto-->
<!--    -->
<!--    socket.onmessage = function(event) {-->
<!--        if (event.data === "open") {-->
<!--            isOpen = true;-->
<!--        }-->
<!--        console.log(event.data);-->
<!--        if (isOpen) {-->
<!--            clearTimeout(reloadTimeout);-->
<!--        } else {-->
<!--            reloadTimeout = setTimeout(() => {-->
<!--                console.log("Reloading...");-->
<!--                location.reload();-->
<!--            }, 4000);-->
<!--        }-->
<!--    };-->
<!--    -->
<!--    socket.onclose = function() {-->
<!--        isOpen = false;-->
<!--        console.log("WebSocket fechado.");-->
<!--        // Espera 5 segundos antes de recarregar a página-->
<!--        reloadTimeout = setTimeout(() => {-->
<!--            console.log("Reloading...");-->
<!--            location.reload();-->
<!--        }, 5000);-->
<!--    };-->
<!--    -->
<!--    socket.onopen = function() {-->
<!--        isOpen = true;-->
<!--        socket.send(uniqueId);-->
<!--    -->
<!--        // Reenvia o ID a cada 5 segundos-->
<!--        setInterval(() => {-->
<!--            socket.send(uniqueId);-->
<!--        }, 5000);-->
<!--    };-->
<!--</script>-->
